body {
    height: 200vh !important;
    width: 80vw !important;
    background-image: url("./indexResources/body-background.jpg") !important;
    background-color: rgba(255,255,255,.8) !important;
    background-blend-mode: lighten !important;
    background-size: 350vh !important;
}

#header {
    display: flex;
    flex-direction: row;
    height: 10% !important;
    width: 95.4vw !important;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1%;
    background-image: url("./indexResources/header-background.jpg");
}

#logo {
    height: 92% !important;
    width: 16% !important;
    float: left !important;
    margin-right: 2%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#nav {
    height: 92% !important;
    width: 79% !important;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    /*background-image: url("");*/
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-blend-mode: lighten !important;
}

#nav li {
    list-style-type: none;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #000000;
    padding: 5px;
    text-transform: uppercase;
    margin: 1%;
}

#nav li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

section.services {
    height: 40% !important;
    width: 97vw !important;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.service-additional-info {
    height: 40% !important;
    width: 97vw !important;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.services img {
    height: 30%;
    width: 30%;
}

section.service-additional-info img {
    height: 40%;
    width: 30%;
}


div.footer {
    height: 9% !important;
    width: 97vw !important;
    margin-top: 2% !important;
    background-color: aquamarine !important;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*div.footer ul {
    
}*/

div.footer li {
    padding: 5px;
    display: inline;
}

/*div.footer li a {
    float: left;
}*/
